.body {
  color: rgba(33, 33, 33, 1);
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #FFFFFF;
  height: 80px;
  border-bottom: 1px solid #ECECEC;;
}
.navigation {

}
.container {
  width: 1200px;
  margin: 0 auto;
  
}
.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: black;
  margin-right: 53px;
}

.logo:hover,
.logo:focus  

.menu ul li{
  list-style-type:none;
}
.menu {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0;
}

.menu-item {
  margin-right: 46px;
}

.menu-item a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

.menu-item:last-child {
  margin-right: 0;
}
.menu-item a:hover,
.menu-item a:focus {
  color: rgba(33, 150, 243, 1)
}
.contacts {
  padding-inline-start: 0;
  list-style-type: none;
  display:flex;
  margin-left: auto;
}
.contacts-item {
margin-right: 50px;
}
.contacts-item a {
  text-decoration: none;
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;;
}
.contacts-item a:hover,
.contacts-item a:focus {
  color: rgba(33, 150, 243, 1);
  stroke: rgba(33, 150, 243, 1);
}
.envelope-icon {
  margin-right: 10px;
}
.smartphone-icon{
  margin-right: 10px;
}
.main-photo {
  background-color: #2F303A;
  height: 600px;
  background: url("../images/team_image.JPG"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: cover;}

.slogan {
  font-style: black;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.6;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 696px;
  padding-top: 200px;
  margin: auto;
  ;
}
.filters {
  list-style-type: none;
  display: flex;
  justify-content: center;
margin-bottom: 50px;
}
.filters-item {
}
.filters-button {
  line-height: 1.625;
  font-weight: bold;
  padding: 6px 22px;
  color: #212121;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.filters-button:hover,
.filters-button:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);}


.filters-item:not(:last-child) {
    margin-right: 8px;
  }
  
.button {
  line-height: 1.875; 
  font-weight: bold;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 1);
  cursor: pointer;
  width: 200px;
padding: 10px 42px;
  margin: 30px 500px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0;
  ;
}

.features {
  list-style-type: none;
  display: flex ;
  justify-content: space-between;

}

.features-box {
  background-color: rgba(245, 244, 250, 1);
  height: 120px;
width: 270px;
left: 215px;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}

.features h4 {
  width: 270px;
}

.features li {
  float: left;
  margin-right: 20px;
}
h4 {
  font-size: 14px;
  line-height: 1.42;
  font-weight: bold;
font-style: normal;
letter-spacing: 0.03em;
text-transform: uppercase;
}
ul {
  padding-inline-start: 0px;
}
.feature-text {
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  width: 270px;
}
.title {
  font-size: 36px;
  line-height: 1.166;
text-align: center;
}
.interests {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex ;
  justify-content: space-between;
}

.interests-item:not(:last-child) {
  margin-right: 30px;
}

.team-members {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
}
.team-card:not(:last-child) {
    margin-right: 30px;
  }

  .team-card img {
    border-radius: 0px;
  }

.team {
  background-color: rgba(245, 244, 250, 1);
}
.team-card {
  background-color: rgba(255, 255, 255, 1);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.socials-list {
list-style: none;
display: flex;
justify-content: space-between;
margin-right: 32px;
margin-left: 32px;
margin-bottom: 18px;
padding-bottom: 12px;

}
.socials-icon {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
  ;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}


.socials-link:hover,
.socials-link:focus {
  background-color: rgba(33, 150, 243, 1);
    fill: rgba(255, 255, 255, 1);
}

.socials-link:hover svg,
.socials-link:focus svg {
    fill: rgba(255, 255, 255, 1);
}
h3 {
  line-height: 1.1875;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-position {
  color: rgba(117, 117, 117, 1);
  line-height: 1.1875;
  text-align: center;
}

.projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.project-card {
width: 370px;
background-color: rgba(255, 255, 255, 1);
  list-style-type: none;
  border: 1px solid #EEEEEE;
}

.project-card:hover,
.project-card:focus { box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
 0px 1px 1px 0px rgba(0, 0, 0, 0.12);}

.projects h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-left: 24px;
  margin-right: 24px;
  display: block;
  margin-block-start: 20px;
  margin-block-end: 4px;
  text-transform: none;
}
.project-card-object {
    line-height: 1.875;
    color: rgba(117, 117, 117, 1);
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    margin-block-start: 0px;
}

.footer {
  background-color: #2F303A;
  height: 252px;
  margin: 0 auto;
}
.address {
  color: #FFFFFF;
  margin-top: 20px;
}
.address-contact {
  color: #FFFFFF99;
  margin-top: 9px;
}
  .address-contact a {
    color: #FFFFFF99;
    margin-top: 9px;
}
.logo-bot {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #FFFFFF;
}
.footer .container {
  padding-top: 60px;
  display: flex;
}
.section {
  padding: 94px 0px;
}
.clients {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
}
.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
}
.clients-link:hover svg,
.clients-link:focus svg {
fill: rgba(33, 150, 243, 1);
}
.clients-link:hover,
.clients-link:focus {border-color: rgba(33, 150, 243, 1);}

.footer-socials {
  margin-left: 70px;
}
.footer-socials h4 {
  color: rgba(255, 255, 255, 1);
  margin-block-start: 12PX;
}

.footer-socials-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-block-start: 0;
  margin-block-end: 0;

}
.footer-socials-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials-icon {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
  ;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: rgba(33, 150, 243, 1);}